<ion-content class="ion-padding">
  <div class="back-button" (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>

  <div class="content-container">
    <div class="header">
      <h1>Enter New Password</h1>
      <p class="subtitle">Please enter your new password</p>
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="password-field">
        <div class="icon-container">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </div>
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="newPassword"
          placeholder="New Password"
          class="password-input"
        >
        <div class="toggle-icon" (click)="togglePasswordVisibility('newPassword')">
          <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </div>
      </div>

      <div class="password-field">
        <div class="icon-container">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </div>
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
          class="password-input"
        >
        <div class="toggle-icon" (click)="togglePasswordVisibility('confirmPassword')">
          <ion-icon [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </div>
      </div>

      <div class="error-message-container" *ngIf="passwordMismatch">
      <div class="error-message-content" *ngIf="passwordMismatch">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <span>Passwords don 't match</span>
      </div>
      </div>


      <div class="error-message-container" *ngIf="errorMessage">
        <div class="error-message-content">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <span>{{ errorMessage }}</span>
        </div>
      </div>


      <div class="illustration">
        <img src="assets/images/My password-cuate.png" alt="Reset Password Illustration">
      </div>

      <button
        type="submit"
        class="continue-button"
        [disabled]="isLoading || resetPasswordForm.invalid"
      >
        <ion-spinner *ngIf="isLoading"></ion-spinner>
        <span *ngIf="!isLoading">Continue</span>
      </button>
    </form>
    <div class="page-indicator">
      <div class="indicator active"></div>
      <div class="indicator active"></div>
      <div class="indicator active"></div>
    </div>
  </div>
</ion-content>
