// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #6c5ce7;
  --ion-color-primary-rgb: 108, 92, 231;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5f51cb;
  --ion-color-primary-tint: #7b6de9;

  /** secondary **/
  --ion-color-secondary: #9575cd;
  --ion-color-secondary-rgb: 149, 117, 205;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #8367b4;
  --ion-color-secondary-tint: #a083d2;

  /** tertiary **/
  --ion-color-tertiary: #d1c4e9;
  --ion-color-tertiary-rgb: 209, 196, 233;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #b8accd;
  --ion-color-tertiary-tint: #d6caeb;

  /** success **/
  --ion-color-success: #2ecc71;
  --ion-color-success-rgb: 46, 204, 113;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28b463;
  --ion-color-success-tint: #43d17f;

  /** warning **/
  --ion-color-warning: #f1c40f;
  --ion-color-warning-rgb: 241, 196, 15;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d4ac0d;
  --ion-color-warning-tint: #f2ca27;

  /** danger **/
  --ion-color-danger: #ff4757;
  --ion-color-danger-rgb: 255, 71, 87;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e03e4c;
  --ion-color-danger-tint: #ff5968;

  /** dark **/
  --ion-color-dark: #333333;
  --ion-color-dark-rgb: 51, 51, 51;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #2d2d2d;
  --ion-color-dark-tint: #474747;

  /** medium **/
  --ion-color-medium: #666666;
  --ion-color-medium-rgb: 102, 102, 102;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5a5a5a;
  --ion-color-medium-tint: #767676;

  /** light **/
  --ion-color-light: #f5f5f5;
  --ion-color-light-rgb: 245, 245, 245;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8d8d8;
  --ion-color-light-tint: #f6f6f6;

  /** Custom app variables **/
  --ion-text-color: #333333;
  --ion-background-color: #ffffff;
  --ion-input-color: #333333;
  --ion-placeholder-color: #666666;
}



