<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard" [routerLink]="['/patient/patient-dashboard']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="medical history"  >
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Upcoming appointments">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Upcoming</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" >
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Alerts</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
